apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notifications-service
  template:
    metadata:
      labels:
        app: notifications-service
    spec:
      containers:
        - name: notifications-service
          image: stefanjakjoski/notifications-service:1.0
          ports:
            - containerPort: 8081
          env:
            - name: DB_URL
              value: jdbc:postgresql://notification-db:5432/notificationdb
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: notifications-db-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: notifications-db-secret
                  key: DB_PASSWORD

