apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: prpo-microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
      - name: notification-service
        image: prporegistry.azurecr.io/notification-service:4744199b13863c8157b30a564be6acdf06972ef0
        ports:
        - containerPort: 8080
        env:
        - name: DB_HOST
          value: notification-db
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: notifications-db-secret
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: notifications-db-secret
              key: DB_PASSWORD
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: notifications-db-secret
              key: DB_NAME
        - name: DB_URL
          valueFrom:
            secretKeyRef:
              name: notifications-db-secret
              key: DB_URL
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: prpo-microservices
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - port: 8080
      targetPort: 8080

